/*Estilos Gerais*/
*{
    margin: 0;
    background-color: #2C394B;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

/*Extra Small Devices*/
@media (max-width: 575.98px) {

    /*Header*/
    #header{
        width: 100%;
    }

    /*Navegation*/
    .nav_links{
        /*Botões*/
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 0;
        background-image: linear-gradient(to right, #f04b2c, #8f4941);
        display: flex;
        justify-content: space-around;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        border-radius: 30px;
        margin: 3px;

        /*Texto*/
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 110%;
    }

    .nav_links:visited{
        text-decoration: none;
        color: white;
    }

    .nav_links:hover{
        background-color: yellow;
        color: black;
    }

    /*Linhas Divisorias*/
    .divisa{

        /*Usamos as duas propriedades pois alguns
          navegadores reconhecem apenas uma delas*/
        background-color: #082032;
        border-color: #082032;

        border-width: 2px;
        border-radius: 100px;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div_text{
        background-color: #334756;
        margin-right: 2%;
        margin-left: 2%;
    }

    .title{
        background-color: #334756;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 170%;
        font-weight: bold;
        text-align: center;
        color: #f04b2c;
        text-transform: uppercase;
    }

    .text{
        font-family: 'Times New Roman', Times, serif;
        font-size: 90%;
        background-color: #334756;
        margin-right: 2%;
        margin-left: 2%;
        text-align: justify;
        color: white;
        text-indent: 15px;
    }
    
    .rank_image{
        width: 98%;
        margin: 1%;
    }

    #footer{
        width: 100%;
    }

    .ads{
        display: none;
    }

}

/*Small Devices*/
@media (min-width: 576px) and (max-width: 767.98px){

    /*Header*/
    #header{
        width: 100%;
    }

    /*Navegation*/
    .nav_links{
        /*Botões*/
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0;
        background-image: linear-gradient(to right, #f04b2c, #8f4941);
        display: flex;
        justify-content: space-around;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        border-radius: 30px;
        margin: 3px;

        /*Texto*/
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 110%;
    }

    .nav_links:visited{
        text-decoration: none;
        color: white;
    }

    .nav_links:hover{
        background-color: yellow;
        color: black;
    }

    /*Linhas Divisorias*/
    .divisa{

        /*Usamos as duas propriedades pois alguns
          navegadores reconhecem apenas uma delas*/
        background-color: #082032;
        border-color: #082032;

        border-width: 2px;
        border-radius: 100px;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div_text{
        background-color: #334756;
        margin-right: 2%;
        margin-left: 2%;
    }

    .title{
        background-color: #334756;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        color: #f04b2c;
        text-transform: uppercase;
    }

    .text{
        font-family: 'arial', Times, serif;
        font-size: 110%;
        background-color: #334756;
        margin-right: 2%;
        margin-left: 2%;
        text-align: justify;
        color: white;
        text-indent: 15px;
        
    }
    
    .rank_image{
        width: 98%;
        margin: 1%;
    }

    #footer{
        width: 100%;
    }

    .ads{
        display: none;
    }

}

/*Medium Devices*/
@media (min-width: 768px) and (max-width: 991.98px){
    
    /*Header*/
    #header{
        width: 100%;
    }

    /*Navegation*/
    .nav_links{
        /*Botões*/
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 1%;
        background-image: linear-gradient(to right, #f04b2c, #8f4941);
        display: inline-flex;
        justify-content: center;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        border-radius: 30px;
        width: 21%;

        /*Texto*/
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 110%;
        
    }

    .nav_links:visited{
        text-decoration: none;
        color: white;
    }

    .nav_links:hover{
        background-color: yellow;
        color: black;
    }

    /*Linhas Divisorias*/
    .divisa{

        /*Usamos as duas propriedades pois alguns
          navegadores reconhecem apenas uma delas*/
        background-color: #082032;
        border-color: #082032;

        border-width: 2px;
        border-radius: 100px;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div_text{
        background-color: #2C394B;
        margin-right: 2%;
        margin-left: 2%;
        
    }

    .title{
        background-color: #2C394B;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        text-align: left;
        color: #f04b2c;
        text-transform: uppercase;
        display: block;
        text-align: center;
        width: 50%;
    }

    .text{
        font-family: 'arial', Times, serif;
        font-size: 110%;
        background-color: #2C394B;
        margin-right: 2%;
        margin-left: 2%;
        text-align: justify;
        color: white;
        text-indent: 15px;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        width: 50%;
        float: left;
        }
    
    .rank_image{
        width: 50%;
        margin: 1%;
    }

    #footer{
        width: 100%;
    }

    .ads{
        display: flexbox;
        text-align: center;
        margin: 5%;
        padding: 0;
        margin-left: 60%;
        margin-right: 20px;
        color: white;
        width: 30%;
        height: 30%;
        float: right;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex: auto;
        position: absolute;
        
    }
    
    .ads2{
        display: flexbox;
        text-align: center;
        margin: 5%;
        padding: 0;
        margin-left: 60%;
        margin-right: 20px;
        color: white;
        width: 30%;
        height: 30%;
        float: right;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex: auto;
        position: absolute;
        top: 500px;
        z-index: 1;
    }

    .ads3{
        display: flexbox;
        text-align: center;
        margin: 5%;
        padding: 0;
        margin-left: 60%;
        margin-right: 20px;
        color: white;
        width: 30%;
        height: 30%;
        float: right;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex: auto;
        position: absolute;
        top: 700px;
        z-index: 2; 
    }

    .ads_img{
        margin: 0;
        padding: 0;
        width: 50%;
        display: flexbox;
        flex-direction: column-reverse;

    }
    
    .ads_title{
        margin: 0;
        padding: 0;
        color: white;
        text-align: center;
        flex-direction: column-reverse;
    }

}

/*Large Devices*/
@media (min-width: 992px) and (max-width: 1199.98px){
/*Header*/
    #header{
        width: 100%;
    }

    /*Navegation*/
    .nav_links{
        /*Botões*/
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 2%;
        background-image: linear-gradient(to right, #f04b2c, #8f4941);
        display: inline-flex;
        justify-content: center;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        border-radius: 30px;
        width: 19%;
        margin-left: 20px;

        /*Texto*/
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 110%;
        
    }

    .nav_links:visited{
        text-decoration: none;
        color: white;
    }

    .nav_links:hover{
        background-color: yellow;
        color: black;
    }

    /*Linhas Divisorias*/
    .divisa{

        /*Usamos as duas propriedades pois alguns
          navegadores reconhecem apenas uma delas*/
        background-color: #082032;
        border-color: #082032;

        border-width: 2px;
        border-radius: 100px;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div_text{
        background-color: #2C394B;
        margin-right: 2%;
        margin-left: 2%;
        
    }

    .title{
        background-color: #2C394B;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        text-align: left;
        color: #f04b2c;
        text-transform: uppercase;
        display: block;
        text-align: center;
        width: 50%;
    }

    .text{
        font-family: 'arial', Times, serif;
        font-size: 130%;
        background-color: #2C394B;
        margin-right: 2%;
        margin-left: 2%;
        text-align: justify;
        color: white;
        text-indent: 15px;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        width: 50%;
        float: left;
        }
    
    .rank_image{
        width: 50%;
        margin: 1%;
    }

    #footer{
        width: 100%;
    }

    .ads{
        display: flexbox;
        text-align: center;
        margin: 5%;
        padding: 0;
        margin-left: 60%;
        margin-right: 20px;
        color: white;
        width: 30%;
        height: 30%;
        float: right;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex: auto;
        position: absolute;
        
    }
    
    .ads2{
        display: flexbox;
        text-align: center;
        margin: 5%;
        padding: 0;
        margin-left: 60%;
        margin-right: 20px;
        color: white;
        width: 30%;
        height: 30%;
        float: right;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex: auto;
        position: absolute;
        top: 650px;
        z-index: 1;
    }

    .ads3{
        display: flexbox;
        text-align: center;
        margin: 5%;
        padding: 0;
        margin-left: 60%;
        margin-right: 20px;
        color: white;
        width: 30%;
        height: 30%;
        float: right;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex: auto;
        position: absolute;
        top: 900px;
        z-index: 2; 
    }

    .ads_img{
        margin: 0;
        padding: 0;
        width: 50%;
        display: flexbox;
        flex-direction: column-reverse;

    }
    
    .ads_title{
        margin: 0;
        padding: 0;
        color: white;
        text-align: center;
        flex-direction: column-reverse;
        font-size: 150%;
    }

}

/*Extra Large Devices*/
@media (min-width: 1200px){
/*Header*/
    #header{
        width: 100%;
    }

    /*Navegation*/
    .nav_links{
        /*Botões*/
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 2%;
        background-image: linear-gradient(to right, #f04b2c, #8f4941);
        display: inline-flex;
        justify-content: center;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        border-radius: 30px;
        width: 21%;
        margin-left: 20px;

        /*Texto*/
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 110%;
        
    }

    .nav_links:visited{
        text-decoration: none;
        color: white;
    }

    .nav_links:hover{
        background-color: yellow;
        color: black;
    }

    /*Linhas Divisorias*/
    .divisa{

        /*Usamos as duas propriedades pois alguns
          navegadores reconhecem apenas uma delas*/
        background-color: #082032;
        border-color: #082032;

        border-width: 2px;
        border-radius: 100px;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .div_text{
        background-color: #2C394B;
        margin-right: 2%;
        margin-left: 2%;
        
    }

    .title{
        background-color: #2C394B;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        text-align: left;
        color: #f04b2c;
        text-transform: uppercase;
        display: block;
        text-align: center;
        width: 50%;
    }

    .text{
        font-family: 'arial', Times, serif;
        font-size: 130%;
        background-color: #2C394B;
        margin-right: 2%;
        margin-left: 2%;
        text-align: justify;
        color: white;
        text-indent: 15px;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        width: 50%;
        float: left;
        }
    
    .rank_image{
        width: 50%;
        margin: 1%;
    }

    #footer{
        width: 100%;
    }

    .ads{
        display: flexbox;
        text-align: center;
        margin: 5%;
        padding: 0;
        margin-left: 60%;
        margin-right: 20px;
        color: white;
        width: 30%;
        height: 30%;
        float: right;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex: auto;
        position: absolute;
        
    }
    
    .ads2{
        display: flexbox;
        text-align: center;
        margin: 5%;
        padding: 0;
        margin-left: 60%;
        margin-right: 20px;
        color: white;
        width: 30%;
        height: 30%;
        float: right;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex: auto;
        position: absolute;
        top: 1050px;
        z-index: 1;
    }

    .ads3{
        display: flexbox;
        text-align: center;
        margin: 5%;
        padding: 0;
        margin-left: 60%;
        margin-right: 20px;
        color: white;
        width: 30%;
        height: 30%;
        float: right;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex: auto;
        position: absolute;
        top: 1400px;
        z-index: 2; 
    }

    .ads_img{
        margin: 0;
        padding: 0;
        width: 50%;
        display: flexbox;
        flex-direction: column-reverse;

    }
    
    .ads_title{
        margin: 0;
        padding: 0;
        color: white;
        text-align: center;
        flex-direction: column-reverse;
        font-size: 150%;
    }
}